@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  height: 100%;
  background-color: #f3f5fc;
  font-family: "Inter", sans-serif;
}

header {
  padding-top: 14px;
}

.main-Container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  /* height: 100vh;
  padding: 40px 40px 40px 0px; */
}

.MensajeDeEntrada {
  width: 700px;
  height: 66.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

textarea {
  width: 760px;
  height: 48.875rem;
  border: none;
  outline: none;
  resize: none;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: #0a3871;
  padding-top: 35px;
  padding-left: 40px;
}

textarea::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: #0a3871;
}

.container-bottom {
  /* position: absolute;
  bottom: 72px; */
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Message_Warning {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.Message_Warning p {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}

.Botones {
  display: flex;
  width: 680px;
  align-items: flex-start;
  gap: 24px;
}

.Encriptador {
  display: flex;
  justify-content: center;
  width: 328px;
  padding: 24px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 24px;
  border: none;
  background: #0a3871;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.Desencriptador {
  display: flex;
  justify-content: center;
  width: 328px;
  padding: 24px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 24px;
  border: 1px solid #0a3871;
  background: transparent;
  flex-shrink: 0;
  color: #0a3871;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.Copiar {
  display: flex;
  justify-content: center;
  width: 328px;
  padding: 24px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 24px;
  border: 1px solid #0a3871;
  background: transparent;
  flex-shrink: 0;
  color: #0a3871;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  position: absolute;
  bottom: 40px;
  display: none;
}

.SectionDeSalida {
  width: 400px;
  height: 66.875rem;
  background-color: #ffffff;
  position: relative;
  border-radius: 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* overflow: auto; */
  flex-direction: column;
}

.placeholderDeSalida {
  width: 336px;
}

.placeholderDeSalida h1 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 120%;
}
.placeholderDeSalida p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 150%;
  color: #495057;
  padding-top: 16px;
}

.MensajeDeSalida {
  display: none;
  max-width: 338px;
  height: auto;
  color: #495057;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  word-wrap: break-word;
  max-height: 48.813rem;
  overflow: auto;
  padding-top: 20px;
}
